<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news_player">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <!-- <assign-permission name="android.permission.UPDATE_DEVICE_STATS" uid="media" /> -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
